#missions {
    padding: 60px 0;
    background-color: white;
}

.missions-heading {
    font-size: 68px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    color: black;
}

.missions-message {
    font-size: 18px;
    line-height: 1.33;
    padding: 30px 0;
}

.missions-emphasis {
    color: #e21c1c;
}

@media (max-width: 991px) {
    .missions-heading {
        font-size: 48px;
    }

    .missions-message {
        font-size: 16px;
        line-height: 1.33;
        padding: 30px 0;
    }
}

@media (max-width: 767px) {
}
