.intro-wrapper {
    padding: 0 60px;
}

.intro-heading {
    display: block;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;
}

.intro-message {
    font-size: 18px;
    font-family: Helvetica;
    line-height: 1.33;
}

.intro-left {
    padding: 100px 0;
    background-color: white;
}

.intro-right {
    padding: 100px 0;
    background-color: #222222;
}

.intro-black {
    color: black;
}

.intro-white {
    color: white;
}

.intro-lightmark {
    background-color: #faff00;
}

.intro-darkmark {
    background-color: #be1621;
    font-weight: bold;
}

@media (max-width: 991px) {
    .intro-wrapper {
        padding: 0 30px;
    }

    .intro-heading {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 20px;
    }

    .intro-message {
        font-size: 12px;
        line-height: 1.33;
    }

    .intro-left {
        padding: 50px 0;
    }

    .intro-right {
        padding: 50px 0;
    }
}

@media (max-width: 767px) {
    .intro-wrapper {
        padding: 0 15px;
    }

    .intro-heading {
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 20px;
    }

    .intro-message {
        font-size: 12px;
        line-height: 1.33;
    }

    .intro-left {
        padding: 25px 0;
    }

    .intro-right {
        padding: 25px 0;
    }
}
