#hosts {
    padding: 60px 0;
    background-color: white;
}

.hosts-heading {
    font-size: 68px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    color: black;
}

@media (max-width: 991px) {
    .hosts-heading {
        font-size: 48px;
    }
}
