#faq {
    padding: 60px 0;
    background-color: black;
}

.faq-heading {
    font-size: 68px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .faq-heading {
        font-size: 48px;
    }
}
