#sponsors {
    padding: 60px 0;
    background-color: white;
}

.sponsors-heading {
    font-size: 68px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    color: black;
}
