#judges {
	padding: 60px 0;
	background-color: #222222;
}

.judges-heading {
	font-size: 68px;
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	color: white;
}

.judges-message {
	color: white;
	text-align: center;
	font-size: 18px;
	margin: 30px 0;
}

@media (max-width: 991px) {
	.judges-heading {
		font-size: 48px;
	}
}
