#mentors {
    padding: 60px 0;
    background-color: black;
}

.mentors-heading {
    font-size: 68px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    color: white;
}

.mentors-message {
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}
