.mission-item-wrapper {
    width: 100%;
    height: 320px;
    background-color: black;
    margin-right: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.mission-item-brick {
    padding-bottom: 230px;
}

.mission-item-text {
    height: 38px;
    margin: 0px;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
}
.mission-item-down {
    height: 8px;
    object-fit: contain;
}

@media (max-width: 991px) {
    .mission-item-wrapper {
        width: 100%;
    }
}

@media (max-width: 767px) {
}
